* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(205, 209, 211);
}

.pallitra {
    background-color: rgb(198, 196, 194);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    max-width: 240px;
    max-height: 52px;
    border: 1px solid rgb(227, 221, 212);
}

.block {
    height: 25px;
    width: 25px;
    border: 1px solid rgb(169, 172, 172);
    cursor: pointer;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    margin-top: 50px;
    max-width: 500px;
    text-align: center;
    background-color: rgb(107, 107, 105);
}